[submodule "maskanyone"]
	path = maskanyone
	url = https://github.com/MaskAnyone/MaskAnyone.git
[submodule "davis2017-evaluation"]
	path = davis2017-evaluation
	url = https://github.com/dbolya/davis2017-evaluation.git
[submodule "samurai_official"]
	path = samurai_official
	url = https://github.com/yangchris11/samurai.git
[submodule "tsp_sam_official"]
	path = tsp_sam_official
	url = https://github.com/WenjunHui1/TSP-SAM.git
